* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
     font-family: Bradley Hand;
}
body {
    background-color:black;
}
header {
    padding: 20px;
    border-bottom: #d5c4b8;
    border-style:dotted;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: -80px;
    margin-right: 40px;
    float: right;
    font-size: 2px;
    min-width: 350px;
}
a {
    color: #73cada;
    text-decoration: none;
    font-size: 26px;
}
h1 {
    font-size: 48px;
    color: #73cada;
    margin:25px;
}
h2 {
    font: size 24px;
    color: #73cada;
    margin: 25px;
}
h2 .design {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 24px; 
    min-width: 10%;
    margin: 20px;   
}
/* .cardabout {
    justify-content: center;
} */


#about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 20px;
    text-align: left;
    max-width: 90%;
}
#about img {
    flex: 1;
    max-height: 300px;
    max-width: 300px;
    padding:10px;
    background-color:#73cada;
    margin: 50px;
    border-radius: 25px;
}
h3 {
    font-size: 36px;
    color: #73cada;
    margin: 50px;
}
p {
    margin: 60px;
    color: #73cada;
    font-size: 20px;
}
#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    text-align: left;
}
#work1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
} 
.card1 {
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
    border-color: #73cada;
    background-color:#73cada;
    width: 75%;
    margin-left: 20%;
    margin-right: 45%;
}
.work-sample1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    max-height: 750px;
}
.card {
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
    background-color:#73cada;
    width: 30%;
}
h4 {
    font-size:28px;
    color: #73cada;
    min-width: 10%;
    margin: 40px;
}
h5{
    font-size: 36px;
    padding: 5px;
    text-align: center;
    color: #046271;
}

h6 {
    text-align: left;
    margin: 10px;
    color: #046271;
}
.card img {
    width: 100%;
}
#footerdiv { 
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color:#73cada;
    padding: 5px;
    margin: 30px;
}
@media screen and (max-width: 1264px) {
    .card {
    justify-content:center;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    }
}
@media screen and (max-width: 720px) {
    .card {
    justify-content:center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }
} 

  

  