* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-size: 20px;
    color: #046271;
    font-family: Bradley Hand;
}
body {
    background-color:#046271;
}
header {
    padding: 30px;
    border-bottom: #d5c4b8;
    border-style:dotted;
}
nav {
    margin: -50px;
    margin-right: 40px;
    float: right;
    font-size: 18px;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 48px;
    text-align: left;
    color: #73cada;
}
h2 {
    font-size:24px;
    color: #73cada;
    min-width: 10%;
}
h2 .design {
    font-family:sans-serif;
    color: #d5c4b8;
    font-size: 21px;
} 
a {
    color: #73cada;
    text-decoration: none;
}
.about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 20px;
    text-align: left;
    max-width: 80%;
}
.about img {
    flex: 1;
    max-height: 250px;
    max-width: 250px;
    padding: 5px;
}
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: ;
    margin: 20px;
    text-align: left;
    max-width: 90%;
    padding: 15px
} 
#work-sample1 img {
    border-radius: 25px;
    padding: 15px;
    flex: 0 0 100 px;
    margin: 20px;
    background-color:#73cada;
    width: 900px;
    margin: 20ppx;
}

.card {
    border-radius: 25px;
    padding: 15px;
    flex: 0 0 100 px;
    margin: 20px;
    background-color:#73cada;
    justify-content: center;
}
h3{
    font-size: 36px;
    padding: 5px;
    text-align: left;
}
.card img {
    width: 310px;
}
footer {
  padding: 15px
}
#footerdiv { 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 5px;
    background-color:#73cada;
}
@media screen and (max-width: 768px) {
    main, nav {
      flex-direction: column;
    }
  }
  